@import 'main.scss';

main {

    .window {
        .items {
            .btn {
                display: block;
                margin: auto;
                margin-bottom: 40px;
                width: 50%;
            }
        }
    }

}